body{
    font-family: monospace;
}
.menu{
    list-style: none;
    padding: 0;
    padding-right: 78px;
    padding-left: 270px;
    background-color: black;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;

}
.menu li{
    display: inline-block;
    
}
.menu li a:hover{
    background-color: gray;
}