body{
    font-family: monospace;
}

    /* Estilos para pantallas de hasta 768px de ancho */
  
@font-face {
        font-family: 'Rubik glitch';
        src: url('C:\Users\ENMA\Downloads\Rubik_Glitch/Rubik_Glitch) format(truetype');
      }
.tab{
    
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000;
   
}
.tab1{
    
    text-shadow: 0 0 10px #ff00b3, 0 0 20px #ff00b3, 0 0 30px #ff00b3, 0 0 40px #ff00b3;
   
}
.tab2{
    font-family: 'Rubik glitch';
    
    text-shadow: 0 0 10px #0004ff, 0 0 20px #0004ff, 0 0 30px #0004ff, 0 0 40px #0004ff;
   
}
.tab3{
    
    text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000;
   
}
.menu{
    list-style: none;
    padding: 0;
    padding-right: 200x;
    padding-left: 310px;
    background-color: black;
    width: 1079px;
    
    margin: auto;
}
.menu li a{
    font-size:20px;
    font-family: Kenia;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;

}
.menu li{
    display: inline-block;
    
}
.menu li a:hover{
    background-color: #0004ff;
}
.menu1{
    list-style: none;
    padding: 0;
    padding-right: 38px;
    padding-left: 310px;
    background-color: black;
    width: 1000px;
    margin: auto;
}
.menu1 li a{
     font-size:20px;
    font-family: Kenia;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;

}
.menu1 li{
    display: inline-block;
    
}
.menu1 li a:hover{
    background-color: #ff00b3;
}
.menu3{
    list-style: none;
    padding: 0;
    padding-right: 38px;
    padding-left: 310px;
    background-color: black;
    width: 1000px;
    
    margin: auto;
}
.menu3 li a{
     font-size:20px;
    font-family: Kenia;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;

}
.menu3 li{
    display: inline-block;
    
}
.menu3 li a:hover{
    background-color: #5e5e5e;
}
.menu2{
    list-style: none;
    padding: 0;
    padding-right: 38px;
    padding-left: 310px;
    background-color: black;
    width: 1000px;

    margin: auto;
}
.menu2 li a{
     font-size:20px;
    font-family: Kenia;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;

}
.menu2 li{
    display: inline-block;
    
}
.menu2 li a:hover{
    background-color: #ff0000;
}
.loader {
    color: #ffffff;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  }
  
  @keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  
  @keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }